spring:
  datasource:
    url: ENC(rXVivRZ2+Z7AZQnwYxYVsXbLr2e4fifb/REZbpxgSoGW2Vm6u0Gj0/VJOfO1E+emfwXeCoU9N8H0cVuqYuoEWbdPU7kekYIIUG/nL1G4RmxrUPPttsPZGM2WrYG6sWy0)
    username: ENC(QTTusIQmcVUiM+fDY8kvubSWvMLTmNCa)
    password: ENC(7QKbd+ZODf/6SLG+D+Q15Or6EBw55I6KKYF0UnTqie8=)
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate:
        format_sql: true

jwt:
  secret_key: ENC(CJzB4FyuHQrRdJ9V+3J0GhZbhxevmxah4rJItf5dM0GJj6Rmq2AsaVHFfSuSBPNmOsckPdYUjSxhheiOR3kJGm1i2+zpO4JdiN8GAv6i1zc=)