spring:
  datasource:
    url: ENC(rXVivRZ2+Z7AZQnwYxYVsXbLr2e4fifb/REZbpxgSoGW2Vm6u0Gj0/VJOfO1E+emfwXeCoU9N8H0cVuqYuoEWbdPU7kekYIIUG/nL1G4RmxrUPPttsPZGM2WrYG6sWy0)
    username: ENC(QTTusIQmcVUiM+fDY8kvubSWvMLTmNCa)
    password: ENC(7QKbd+ZODf/6SLG+D+Q15Or6EBw55I6KKYF0UnTqie8=)
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul
  security:
    oauth2:
      client:
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
        registration:
          kakao:
            client-name: kakao
            client-secret: ENC(joWfBVWHH5ET6ACePZcu6qYVFG4bosXPqoBXx75rWZA1GkvkA8EZ+77PXrfpeP/I)
            client-authentication-method: client_secret_post
            client-id: ENC(xNieyTRGxYZ4SF0gSQEbkEx3zF2O4K1vq/aAOZyjCCGlpAzuQzLUM4rz0yZSW/RJ)
            redirect-uri: https://www.lupg.me/oauth
            authorization-grant-type: authorization_code
            scope:
              - account_email
              - profile
  data:
    redis:
      host: ENC(dPw3pRsyq4YPqQ8qIYU0Gdb/glUKo4OS)
      port: 6379
      database: 15

jwt:
  secret_key: ENC(CJzB4FyuHQrRdJ9V+3J0GhZbhxevmxah4rJItf5dM0GJj6Rmq2AsaVHFfSuSBPNmOsckPdYUjSxhheiOR3kJGm1i2+zpO4JdiN8GAv6i1zc=)

biztalk:
  app_key: ENC(o0y3pOIBp5FhpwsRQbvhWo9iCexESXrWkxYraNQH+x4=)
  secret_key: ENC(Ui34V4wHltYCwy1WgS9QuCPW1ybekfImeXuieGmvJGzqTnA4nuc3E5qWlP5Fgr0c)
  sender_key: ENC(VgMBO/4Pg0FNwzlIlZ1aQbtLWIXT9pE3EInsWBgABDTm7AcYyQbX2No98ICpSI3/lwTsmM20oUg=)
